#root {
  max-width: 1280px;
  text-align: center;
}

.main-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

::-webkit-scrollbar{
  display: none;
}

.toggle-button{
  border-radius: 50%;
  background: transparent;
  position: absolute;
  right: 1rem;
}

.toggle-button:hover{
  background: transparent;
  transform: scale(1.1);
}

.toggle-icon{
  width: 40px;
}